<div id="examples">
  {{this.activeExample}}
  <div class="{{if this.activeExample 'container' 'container-fluid'}}">
    <div class="section-heading">
      <h1 data-wow-delay=".3s" class="title wow fadeInDown" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">Live Examples</h1>
    </div>

    <div class="row flex">
      <div class="{{unless this.activeExample 'col-md-3 col-sm-6'}}">
        <AvatarAdorable @activeExample={{this.activeExample}} @onChange={{this.onChange}} />
      </div>

      <div class="{{unless this.activeExample 'col-md-3 col-sm-6'}}">
        <AvatarInitials @activeExample={{this.activeExample}} @onChange={{this.onChange}} />
      </div>

      <div class="{{unless this.activeExample 'col-md-3 col-sm-6'}}">
        <AvatarGravatar @activeExample={{this.activeExample}} @onChange={{this.onChange}} />
      </div>

      <div class="{{unless this.activeExample 'col-md-3 col-sm-6'}}">
        <AvatarImage @activeExample={{this.activeExample}} @onChange={{this.onChange}} />
      </div>
    </div>
  </div>
</div>