{{#if visible}}
  {{#if active}}
    <div class="col-sm-4">
      <div class="text-center">
        <p class="lead"><code>ember-initials</code></p>
        <EmberInitials class="img-circle"
          @size={{size}}
          @name={{name}}
          @seedText={{seedText}}
          @defaultName={{defaultName}}
          @textColor={{textColor}}
          @fontSize={{fontSize}}
          @fontWeight={{fontWeight}}
          @fontFamily={{fontFamily}}
          @image={{image}}
        />
        <p class="example-intro">This component has been designed to display user initials based on user name and unique string like email. But it can also work as a fallback for users avatars.</p>
        {{activate-button exampleName=exampleName activeExample=activeExample}}
      </div>
    </div>

    <div class="col-sm-8">
      {{#bs-tab as |tab|}}
        {{#tab.pane title="Properties"}}
          <div class="row">
            <div class="form-group col-sm-6">
              <label>Name:</label>
              {{input placeholder="Name" value=name class="form-control" }}
              <span class="help-block">Initials will be generated from this name.</span>
            </div>

            <div class="form-group col-sm-6">
              <label>Default Name:</label>
              {{input placeholder="Default Name" value=defaultName class="form-control" }}
              <span class="help-block">Initials of this name will be used if name will be empty.</span>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-6">
              <label>User Image:</label>
              {{input placeholder="User image relative or absolute src" value=image class="form-control" }}
              <span class="help-block">If image will be empty or the loading will fail, the initials will play as fallback.</span>
            </div>

            <div class="form-group col-sm-6">
              <label>Seed Text:</label>
              {{input placeholder="Seed text" value=seedText class="form-control" }}
              <span class="help-block">Uniq string for generating seed of initials background color, eg. user's email</span>
            </div>
          </div>

          <div class="row">
            <div class="form-group {{if sizeChanged 'has-warning'}} col-sm-6">
              <label>Size:</label>
              {{input placeholder="Size" value=size type="number" class="form-control" }}

              {{#if sizeChanged}}
              <p class="help-block">If the initials are too big or too small change the <b>Font Size</b> property. </p>
              {{/if}}
            </div>

            <div class="form-group col-sm-6">
              <label>Text color:</label>
              {{input placeholder="Text color" value=textColor class="form-control" }}
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-6">
              <label>Font size:</label>
              {{input placeholder="Font size" type="number" value=fontSize class="form-control" }}
            </div>

            <div class="form-group col-sm-6">
              <label>Font weight:</label>
              {{input placeholder="Font weight" type="number" value=fontWeight class="form-control" }}
            </div>
          </div>

          <div class="form-group">
            <label>Font family:</label>
            {{input placeholder="Font family" value=fontFamily class="form-control" }}
          </div>
        {{/tab.pane}}

        {{#tab.pane title="Generated code"}}
          <pre>
        \{{ember-initials
          size={{size}}
          name="{{name}}"
          seedText="{{seedText}}"
          defaultName="{{defaultName}}"
          textColor="{{textColor}}"
          fontSize={{fontSize}}
          fontWeight={{fontWeight}}
          fontFamily="{{fontFamily}}"
          image="{{image}}"
        }}
          </pre>
        {{/tab.pane}}
      {{/bs-tab}}
    </div>
  {{else}}
    <div class="text-center">
      <p class="lead"><code>ember-initials</code></p>
      <EmberInitials class="img-circle"
        @size={{size}}
        @name={{name}}
        @seedText={{seedText}}
        @defaultName={{defaultName}}
        @textColor={{textColor}}
        @fontSize={{fontSize}}
        @fontWeight={{fontWeight}}
        @fontFamily={{fontFamily}}
        @image={{image}}
      />
      <p class="example-intro">This component has been designed to display user initials based on user name and unique string like email. But it can also work as a fallback for users avatars.</p>
      {{activate-button exampleName=exampleName activeExample=activeExample}}
    </div>
  {{/if}}
{{/if}}
